<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yron's Alpha</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.7.0/web3.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__body">
              <a href="#" class="header__logo">
                <img src="images/text.png" alt="logo">
                <div></div>
              </a>
              <div class="header__burger">
                <span></span>
              </div>
              <nav class="header__menu">
                <ul class="header__list">
                  <li >
                    <a href="#overview" class="header__link">Overview</a>
                  </li>
                  <li >
                    <a href="#roadmap" class="header__link">Roadmap</a>
                  </li>
                  <li >
                    <a href="#faq" class="header__link">FAQ</a>
                  </li>
                  <li >
                    <a href="https://twitter.com/yron_01" class="header__link" target="_blank">Twitter</a>
                  </li>
                  <li >
                    <a href="https://discord.gg/6AUq5BRTKV" target="_blank" class="header__link header__discord">Discord</a>
                  </li>
                </ul>
              </nav>
              
                <button class="header__button" style="cursor: pointer; position: relative; z-index: 3;">
                  <a href="https://discord.gg/6AUq5BRTKV" target="_blank" style="width: 100%; height: 100%; position: absolute; z-index: 4; top: 0px; left: 0; right: 0; padding-top: 10px;">
                      Join Discord
                  </a>
                </button>
            </div>
          </div>
    </header>

    <main class="main">
        <div class="wrapper">
          
          <div class="main__content">
            <div class="main__header">
              <span class="main__yron">
                YRON
                <span></span>
              </span>
              ’S VIP <br>
              ALL ALPHA PASS
            </div>
            <div class="main__subheader" style="font-weight: bold;">
              The most unique alpha pass with guaranteed whitelist spots, calls that bring money, nft trading tools and a brand new service exclusive for members of our private community.
            </div>
            <a href="https://opensea.io/collection/yronsalpha" target="_blank">
              <button class="main__button" style="cursor: pointer;">
                View on Opensea
              </button>
            </a>
            <div class="main__footer">
              <div class="main__line"></div>
              <!-- <div class="main__explore">
                <span>Explore Now</span>
              </div> -->
            </div>
          </div>

        </div>
    </main>

    <div class="mint">
      <div class="wrapper">
        <div class="mint__container">
          <div class="mint__images">
            <div class="mint__gif_b">
              <img src="images/gifCover.png" alt="main pass">
            </div>
            <div class="mint__gif">
              <img src="images/Gold_1000v2px.gif" alt="main pass">
            </div>
          </div>
          <div class="mint__buttons">
            <button class="mint__supply" style="cursor: initial;">Total supply: <span id="total-supply"></span> 1,111</button>
            <button class="mint__main" id="mint">
              <div class="mint_plus" id="topleft-plus"><img src="images/plusIcon.png" alt=""></div>
              <div class="mint_plus" id="topright-plus"><img src="images/plusIcon.png" alt=""></div>
              <div class="mint_plus" id="bottomleft-plus"><img src="images/plusIcon.png" alt=""></div>
              <div class="mint_plus" id="bottomright-plus"><img src="images/plusIcon.png" alt=""></div>
              Mint
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="overview" id="overview">
      <div class="wrapper">
        <div class="overview__cover">
          <div class="overview__header">YRON’S ALPHA <br>
            OVERVIEW</div>
          <div class="overview__text">Holding one of the passes gives holders unlimited access to a closed discord channel with tons of valuable information from experts, that will help you to succed in this difficult space. First holders to mint this pass in the first 24 hours will get a guaranteed whitelist spot in one of our projects mentioned in the roadmap.
            Members of the community who stand out will be rewarded with leadership roles and other benefits as the Yron's team works in tandem to build a community FOR the community.</div>
          <div class="overview__image">
            <img src="images/overview.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="gives common">
      <div class="wrapper">
        <div class="gives__cover">
          <div class="gives__header title">
            YRON’S ALPHA GIVES YOU
          </div>
          <div class="gives__blocks">
            <div class="gives__block block-gives" id="block-gives-1">
              <div class="block-gives__header">
                <span>NFT TRADING TOOLS</span>
              </div>
              <div class="block-give__body">
                <div class="block-gives__icon">
                  <img src="images/givesYou1.png" alt="">
                </div>
                <div class="block-gives__text">
                  The pass will give owners access to an highly developed set of tools integrated in the discord like: listing BOTs, whale trackers, real time mint, high volume notifications and more. Our team is open to change anything or add something new according to the will of the community.
                </div>
              </div>
            </div>
            <div class="gives__block block-gives" id="block-gives-2">
              <div class="block-gives__header">
                <span>WHITELIST SPOTS</span>
              </div>
              <div class="block-give__body">
                <div class="block-gives__icon">
                  <img src="images/givesYou2.png" alt="">
                </div>
                <div class="block-gives__text">
                  One of the main thing in our project are whitelist spots. We will make a giveaway for our first members to mint, and as well many whitelists giveaway in the future with a lot of projects. Also we developed and integrated in the discord marketplace for whitelists exclusively for our community. The security of the transactions will be monitored by our mods. 
                </div>
              </div>
            </div>
            <div class="gives__block block-gives" id="block-gives-3">
              <div class="block-gives__header">
                <span>TOP INSIDES</span>
              </div>
              <div class="block-give__body">
                <div class="block-gives__icon">
                  <img src="images/givesYou3.png" alt="">
                </div>
                <div class="block-gives__text">
                  Yron's team will bring you alpha as fast as we can. We will provide you with one of the best calls and with the best reports, so that you will make back the money for the pass within the first month. If you hold a pass, you are a certified member. The only thing that we ask for, is to be quick, because good calls do expire fast.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="roadmap common" id="roadmap">
      <div class="wrapper">
        <div class="roadmap__cover">
          <div class="title" style="margin-bottom: 70px;">Roadmap</div>
          <div class="roadmap__blocks">
            <div class="roadmap__block block-roadmap" id="block-roadmap-1">
              <div class="block-roadmap__header">
                Pre Mint
                <span>001</span>
              </div>
              <div class="block-roadmap__body">
                <ol>
                  <li>Discord channel launched and organized for the mint date.</li>
                  <li>Marketing and promotion to make our brand well known.</li>
                  <li>Whitelist access is rolled out</li>
                  <li>100 passes are reserved for the community and giveaways.</li>
                </ol>
              </div>
            </div>
            <div class="roadmap__block block-roadmap" id="block-roadmap-2">
              <div class="block-roadmap__header">
                Public Mint
                <span>002</span>
              </div>
              <div class="block-roadmap__body">
                <ol>
                  <li>Mint is live with 0.2 eth price for each pass.</li>
                  <li>Holders enter our discord and receive whitelist spots for other projects. Projects and quantity of whitelists: Collider Craftworks x3, DeFi Frens x5, Oddstronauts x10, Youtopia x5, LilBears x200, HomieFaces x200, No No's x21, NFTY KEYS x1, Embers x300, Chill Bear CLub x 200, Pixie x20, The Meta Bucks x20, Pixie x15, Introverse x11, GummiesGang x100, and more in the future.</li>
                </ol>
              </div>
            </div>
            <div class="roadmap__block block-roadmap" id="block-roadmap-3">
              <div class="block-roadmap__header">
                24 hours after mint 
                <span>003</span>
              </div>
              <div class="block-roadmap__body">
                <ol>
                  <li>After 24 hours all unminted passes are burnt.</li>
                  <li>All tools are activated and channels are opened.</li>
                  <li>All the money from the royalty is dedicated to the community wallet, this will be used to reward members for their contribution and for future giveaways.</li>
                </ol>
              </div>
            </div>
            <div class="roadmap__block block-roadmap" id="block-roadmap-4">
              <div class="block-roadmap__header">
                Pre Mint 
                <span>004</span>
              </div>
              <div class="block-roadmap__body">
                <ol>
                  <li>Promotion and marketing rollout to create brand awareness</li>
                  <li>Discord launches in phases and community comes together</li>
                  <li>Whitelist access is rolled out</li>
                  <li>100 passes are reserved for the community wallet for marketing and to reward community members who are active contributors</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="launch">
      <div class="wrapper">
        <div class="launch__cover common">
          <div class="launch__title title">LAUNCH <span></span></div>
          <div class="launch__subtitle subtitle">MARCH 12, 2022</div>
        </div>
      </div>
    </div>

    <div class="faq" id="faq">
      <div class="wrapper">
        <div class="faq__cover">
         <div class="faq__image">
           <img src="images/faq.png" alt="faq">
         </div> 
         <div class="faq__main">
           <div class="faq__header">
             <div class="faq__title title" style="margin-bottom: 15px; font-weight: bold;">FAQ</div>
             <div class="faq__subtitle subtitle">Frequently asked questions</div>
           </div>
           <div class="faq__body">
            <div class="wrap wrap-1">
              <input type="radio" id="tab-1" name="tabs">
              <label for="tab-1"><div>What is Mint Price?</div><div class="cross"></div></label>
              <div class="content">Mint price will be 0.2 ETH in only one public sale</div>
            </div>
          
            <div class="wrap wrap-2">
              <input type="radio" id="tab-2" name="tabs">
              <label for="tab-2"><div>When is Mint?</div><div class="cross"></div></label>
              <div class="content">Public Mint will be at 5 PM EST on 11 March 2022</div>
            </div>
            <div class="wrap wrap-3">
              <input type="radio" id="tab-3" name="tabs">
              <label for="tab-3"><div>What is the Supply?</div><div class="cross"></div></label>
              <div class="content">Supply will be 1111, with 100 reserved for the community & giveaways</div>
            </div>
            <div class="wrap wrap-4">
              <input type="radio" id="tab-4" name="tabs">
              <label for="tab-4"><div>Should i try to get more than one?</div><div class="cross"></div></label>
              <div class="content">No. We build a community here and want to give everyone fair chances to win giveaways and be able to make new friends.</div>
            </div>
            <div class="wrap wrap-5">
              <input type="radio" id="tab-5" name="tabs">
              <label for="tab-5"><div>What will happen after Mint starts?</div><div class="cross"></div></label>
              <div class="content">If you minted in the first 24 hours you will get randomly a Whitelist spot in one of the projects mentioned in roadmap.</div>
            </div>
            <div class="wrap wrap-6">
              <input type="radio" id="tab-6" name="tabs">
              <label for="tab-6"><div>I got a pass, what's next?</div><div class="cross"></div></label>
              <div class="content">Go to the Yron's Alpha discord linked on this site, connect using collabLand, and you’ll be on your way!</div>
            </div>
           </div>
         </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="wrapper">
        <div class="footer__cover">
          <div class="footer__table">
            <div class="footer__block">
              <div class="footer_logo">
                <img src="/images/logoGold.png" alt="logo">
              </div>
            </div>
           <div class="footer__block">
            <div class="footer__copyright">
              2022 - Created by YRON’S ALPHA
            </div>
           </div>
           <div class="footer__block">
            <div class="footer__links">
              <a href="https://twitter.com/yron_01" class="footer__link" target="_blank">
                <img src="images/twitter-icon.png" alt="twitter icon">
              </a>
              <a href="https://discord.gg/6AUq5BRTKV" class="footer__link" target="_blank">
                <img src="images/discord-icon-2.png" alt="discord icon">
              </a>
              <a href="https://www.youtube.com/channel/UCkhstDvo5yKtEdQqtuu4AIw" class="footer__link" target="_blank">
                <img src="images/youtube-icon.png" alt="youtube icon">
              </a>
            </div>
           </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>